html, body {
    margin: 0;
    padding: 0;
    background-color: #E5E4E2;
}

.navbar-nav .nav-link:hover {
    color: white;
    text-shadow: 1px 1px #36454F;
    background-color: #1f1f1f;
    text-decoration: none; /* Remove underline on hover */
}

.main {
    background-color: #E5E4E2;
}

.main a {
    color: #36454F;
    text-decoration: none;
    font-family: Platypi, sans-serif; 
    text-align: center; 
    padding-top: 20px; 
    font-size: 24px; 
    display: block; 
    margin: 0 auto;
}

.main a:hover {
    text-decoration: none;
    text-shadow: 1px 1px #36454F;
    transition: 0.3s ease-in-out;
}


.message {
    color: #36454F;
    font-family: Platypi, sans-serif;
    font-size: 72px;
    padding-top: 70px;
    text-align: center;
}


@media (max-width: 992px) {
    .message {
        font-size: 48px; /* Adjust the font size for smaller screens */
        padding-top: 30px;
        padding-left: 15px; /* Adjust padding for smaller screens */
        padding-top: 15px; /* Adjust padding for smaller screens */
    }
}


/* .row {
    height: 150px;
    background-color: 			#E5E4E2;
    color: #36454F;
} */

/* nav {
    background-color: 			#E5E4E2;
    font-family: "Platypi", sans-serif;
    font-size: 30px;
    text-align: right;
} */

 /* .navigation a {
    color: 	#A9A9A9;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    transition: color 0.3s;

} */

/* .navbar a:hover {
    text-shadow: 1px 1px #36454F;
    transition: 0.3s ease-in-out;
} */

/* h1 {
    padding-top: 45px;
} */

/* :root {
    --animate-delay: 2s;
  } */
